<!DOCTYPE html>
<html ng-app="lab1a">
<head>
<title>Lab18</title>
<meta charset="utf-8" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-route.min.js"></script>
   <script type="text/javascript" src="js/lab1a.js"></script>
</head>
<body>
<div ng-controller="lab1aController">
<input type="text" ng-model="name"/>
<p> Nombre completo <span ng-bind="name"></span></p>
  <p> <input type="text" ng-model="id"/><p>
    <p><input type="text" ng-model="profession"/></p>
     <p><input type="text" ng-model="salary"/></p>
    <p><input type="text" ng-model="phone"/></p>
    <p><input type="text" ng-model="adress"/></p>
    </div>
</body>
</html>